# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Splunk local configuration files
sekoia.io/local/
sekoia.io/metadata/local.meta

# tox
.tox/
.env

# pytest
.pytest_cache
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.coverage
htmlcov/
*.cover
coverage.xml
*.py,cover

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
venv*/
.venv/
.venv-3.11/
.venv-3.10/
env/
ENV/
/.devcontainer/

# pdm
.pdm-python
.python-version
